#Try using SFrame with GraphLab

In [4]:
import graphlab as gl

In [5]:
sf = gl.SFrame('people-example.csv')

[INFO] This non-commercial license of GraphLab Create is assigned to r02725032@ntu.edu.twand will expire on September 25, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-7188 - Server binary: C:\Users\weal\AppData\Local\Dato\Dato Launcher\lib\site-packages\graphlab\unity_server.exe - Server log: C:\Users\weal\AppData\Local\Temp\graphlab_server_1443391397.log.0
[INFO] GraphLab Server Version: 1.6.1

PROGRESS: Finished parsing file C:\Users\weal\Documents\GitHub\Machine_learning\people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.011001 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file C:\Users\weal\Documents\GitHub\Machine_learning\people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.011 secs.

In [6]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [7]:
def add_2(x):
    x = x + 2
    return x

In [8]:
sf['age'] = sf['age'].apply(add_2)

In [9]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  26 |
|   Alice    |  Williams |     Canada    |  25 |
|  Malcolm   |    Jone   |    England    |  24 |
|   Felix    |   Brown   |      USA      |  25 |
|    Alex    |   Cooper  |     Poland    |  25 |
|    Tod     |  Campbell | United States |  24 |
|   Derek    |    Ward   |  Switzerland  |  27 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]